
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  overflow-x: hidden;
}

.bg-stars {
  background-image: url('/stars.gif');
  background-size: cover;
  background-repeat: repeat;
  animation: scrollStars 100s linear infinite;
}

@keyframes scrollStars {
  0% { background-position: 0 0; }
  100% { background-position: 10000px 10000px; }
}
